*.v2
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/CopilotIndices/17.12.53.23981/CodeChunks.db
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/CopilotIndices/17.12.53.23981/SemanticSymbols.db
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/FileContentIndex/153df458-3398-4162-a1e7-8d38f430ee97.vsidx
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/FileContentIndex/23fc2cb2-3ce1-4a27-b7b9-98945c8f0dc3.vsidx
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/FileContentIndex/59b3e6b8-bdcb-4588-b532-0a280c51f223.vsidx
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/FileContentIndex/85640144-1dfb-4ce1-a185-a0042342e59b.vsidx
gdm.bff_service/gdm.bff-service/.vs/gdm.bff-service/FileContentIndex/8d944cc0-8a0f-46ef-ac11-4675c060dda2.vsidx
